@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

:root {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color: #dbd9d9;
  --background: #222831;
  --secondary-color: #393E46;

}

.dark {
  --background: rgba(255, 255, 255);
  --color: #242424;
}

body {
  background-color: var(--background);
}
