@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color: #EEEEEE;
  --background: #222831;
  --secondary-color: #393E46;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --background: rgba(255, 255, 255);
  --color: #242424;
}
body {
  background-color: var(--background);
}
